<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">

    <head th:replace="~{/layout/header :: header}"></head>
    
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div th:replace="~{/layout/sidebar :: sidebar}"></div>
            
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <div th:replace="~{/layout/navi :: navi}"></div>
                
                <!-- Page content-->
                <div class="container-fluid">
                    <th:block th:replace="${content}"></th:block>
                </div>
                
            </div>
        </div>
        
        <div th:replace="~{/layout/footer :: footer}"></div>
        
    </body>
    
</th:block>    
</html>
