<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<th:block th:fragment="header">
		<meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	    <title>Simple Sidebar - Start Bootstrap Template</title>
	    
	    <!-- Favicon-->
	    <link th:href="@{/assets/favicon.ico}" rel="icon" type="image/x-icon" />
	    
	    <!-- Core theme CSS (includes Bootstrap)-->
	    <link th:href="@{/css/styles.css}" rel="stylesheet" />
	</th:block>
	
</html>
 
 